In [17]:
import pandas as pd
df = pd.read_csv('train.csv')
# 1) Com base na questão 2 da prova passada, pesquisar e aplicar mais 2
# algoritmos de ML na base da prova e comparar os % de acerto
# 2) Pesquisar e aplicar o mecanismo de "matriz de confusão" explicando
# os resultados das matrizes para os 3 algoritmos envolvidos.

In [18]:
x = df[['Sex', 'Embarked', 'Pclass', 'IsAlone']]
y = df['Survived']
x = pd.get_dummies(x)

KeyError: "['IsAlone'] not in index"

In [23]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1 
df.loc[df['FamilySize'] > 1, 'IsAlone'] = 0
df.loc[df['FamilySize'] == 1, 'IsAlone'] = 1

df[['IsAlone','FamilySize']]

     IsAlone  FamilySize
0        0.0           2
1        0.0           2
2        1.0           1
3        0.0           2
4        1.0           1
5        1.0           1
6        1.0           1
7        0.0           5
8        0.0           3
9        0.0           2
10       0.0           3
11       1.0           1
12       1.0           1
13       0.0           7
14       1.0           1
15       1.0           1
16       0.0           6
17       1.0           1
18       0.0           2
19       1.0           1
20       1.0           1
21       1.0           1
22       1.0           1
23       1.0           1
24       0.0           5
25       0.0           7
26       1.0           1
27       0.0           6
28       1.0           1
29       1.0           1
..       ...         ...
861      0.0           2
862      1.0           1
863      0.0          11
864      1.0           1
865      1.0           1
866      0.0           2
867      1.0           1
868      1.0           1
869      0.0           3
870      1.0           1
871      0.0           3
872      1.0           1
873      1.0           1
874      0.0           2
875      1.0           1
876      1.0           1
877      1.0           1
878      1.0           1
879      0.0           2
880      0.0           2
881      1.0           1
882      1.0           1
883      1.0           1
884      1.0           1
885      0.0           6
886      1.0           1
887      1.0           1
888      0.0           4
889      1.0           1
890      1.0           1

[891 rows x 2 columns]

In [25]:
from sklearn import linear_model
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.20, random_state=0)

modelo = MultinomialNB()
modelo.fit(x_treino, y_treino)
modelo.predict(x_teste)
modelo.score(x_teste, y_teste)
pd.crosstab(y_teste, modelo.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [26]:
linear = linear_model.LinearRegression()

linear.fit(x_treino, y_treino)
linear.predict(x_teste)
linear.score(x_teste, y_teste)
pd.crosstab(y_teste, modelo.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)
#print('Coefficient: \n', linear.coef_)
#print('Intercept: \n', linear.intercept_)
#Predict Output
#predicted= linear.predict(x_teste)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [27]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_treino, y_treino)
model.score(x_treino, y_treino)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [32]:
from sklearn import tree

model = tree.DecisionTreeClassifier(criterion='gini')
model.fit(x_treino, y_treino)
model.score(x_treino, y_treino)
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

#Predict Output
#predicted= model.predict(x_teste)
147/179

0.8212290502793296

In [31]:
from sklearn.metrics import confusion_matrix
pd.crosstab(y_teste, model.predict(x_teste), rownames=['Real'], colnames=['Predito'], margins=True)

# confusion_matrix(y_teste, model.predict(x_teste))

Predito    0   1  All
Real
0         92  18  110
1         20  49   69
All      112  67  179

In [32]:
confusion_matrix(y_teste, model.predict(x_teste))

array([[92, 18],
       [20, 49]], dtype=int64)

In [50]:
print("De %d sobreviveram %d e morreram %d." % (len(df), len(df[df['Survived'] == 1]), len(df[df['Survived'] == 0])))

De 891 sobreviveram 342 e morreram 549.

In [ ]:
# Ao final dos testes a tree.DecisionTreeClassifier foi aquela que apresentou os melhores resultados, acertando 
# aproximadamente 82.12% dos casos, enquanto que as demais ficaram em torno de 78% de acerto.